<mat-nav-list>
  <div fxHide.gt-xs>
    <a mat-list-item routerLink="/games" (click)="onClose()">
      <mat-icon>golf_course</mat-icon>
      <span class="nav-caption">Games</span>
    </a>
    <a mat-list-item routerLink="/teams" (click)="onClose()">
      <mat-icon>group</mat-icon>
      <span class="nav-caption">Teams</span>
    </a>
    <a mat-list-item routerLink="/head" (click)="onClose()">
      <mat-icon>supervised_user_circle</mat-icon>
      <span class="nav-caption">Head-to-Head</span>
    </a>
  </div>
</mat-nav-list>