<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>arrow_drop_down_circle</mat-icon>
    </button>
  </div>
  <div class="nav-logo">
    <a routerLink="">tipstr</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs *ngIf="hasFaveTeam">
    <ul fxLayout fxLayoutGap="10px" class="nav-elements">
      <li><a routerLink="/games">Games</a></li>
      <li><a routerLink="/ladder">Ladder</a></li>
      <li><a routerLink="/head">Head-to-Head</a></li>
    </ul>
  </div>
</mat-toolbar>
<mat-toolbar *ngIf="hasFaveTeam" color="accent">
    <div fxFlex fxLayoutAlign="flex-end">
      <section fxLayoutAlign="center center">
        <mat-icon>favorite</mat-icon>
        <span class="toolbar-txt">{{ fTeam.name }}</span>
      </section>
    </div>
</mat-toolbar>
